body {
  background: url("../img/Фон\ 1.png") no-repeat center fixed;
  background-size: cover;
  font-family: "Ubuntu";
}
.header-row {
  display: flex;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 58px;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}
.header-row a {
  text-decoration: none;
}
.header-row-title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-row-icon {
  position: absolute;
  right: 284px;
}
.theme {
  position: absolute;
  top: 0;
  left: -40px;
}

img {
  padding-right: 24px;
}
.header-row-log_or_sign {
  display: flex;
  font-size: 14px;
  line-height: 14px;
}
.header-row-log_or_sign a {
  color: #ffffff;
}
.header-row-title:hover {
  color: #01813f;
}
.header-row-log_or_sign a:hover {
  color: #01813f;
}
.header-row-log_or_sign::before {
  content: "";
  border-left: 1px solid;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  mix-blend-mode: normal;
  display: block;
  position: relative;
  right: 27px;
}
main {
  position: fixed;
  width: 444px;
  height: 584px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
main::before {
  position: absolute;
  content: " ";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  top: 29px;
  left: 0;
}
.modal {
  position: absolute;
  flex-direction: column;
  width: calc(100% - 60px * 2);
  top: 31px;
  left: 60px;
}
.modal li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}
.modal-sign {
  color: #434343;
  font-weight: 400;
  font-size: 20px;
}
.modal-login {
  font-weight: 400;
  font-size: 14px;
  color: #3cb878;
}
.modal-login:hover {
  color: #01813f;
  text-decoration: underline;
}
.modal-social {
  margin-top: 15px;
}
.modal-social a div {
  position: relative;
  display: flex;
  width: 160px;
  height: 48px;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border-radius: 3px;
}
.fb_btn {
  background-color: #305db8;
}
.fb_btn:hover {
  background-color: #022263;
}
.google_btn {
  background-color: #df4a32;
}
.google_btn:hover {
  background-color: #ab1f09;
}
.modal-social div::before {
  position: absolute;
  height: 28px;
  content: "";
  border-right: 1px solid #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  left: 48px;
}
.modal-line {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #848484;
  font-size: 14px;
  margin-top: 32px;
}
.modal-line::before {
  content: " ";
  width: 45%;
  left: 0;
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
}
.modal-line::after {
  content: " ";
  width: 45%;
  right: 0;
  position: absolute;
  border-bottom: 1px solid #f2f2f2;
}
.modal-user_data {
  margin-top: 11px;
}
.modal-user_data-form {
  display: flex;
  flex-direction: column;
  height: 284px;
  justify-content: space-between;
}
.modal-user_data-form input {
  box-sizing: border-box;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  padding-left: 20px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
}
input[type="submit"] {
  display: block;
  width: 100%;
  height: 46px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  cursor: pointer;
  border: none;
  margin-top: 20px;
}
input[type="submit"]:hover {
  background-color: #01813f;
}
.modal-user_data-checkbox {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-top: 16px;
}
.modal-user_data-checkbox a {
  color: #3cb878;
  text-decoration: none;
}
.modal-user_data-checkbox a:hover {
  color: #01813f;
  text-decoration: underline;
}
.checkbox input {
  position: absolute;
  opacity: 0;
}
.checkbox-text {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.checkbox-text:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
}
.checkbox input:checked + .checkbox-text:before {
  content: "";
  background: url("../img/Галочка.svg") no-repeat center;
}
