body {
  background: url("../img/Фон\ 2.png") no-repeat center fixed;
  background-size: cover;
}

.header-row {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.header-row a {
  text-decoration: none;
}
.header-row-title {
  color: #ffffff;
}
.header-row-log_or_sign a {
  color: #ffffff;
}
.header-row-title:hover {
  color: #d58920;
}
.header-row-log_or_sign a:hover {
  color: #d58920;
}
.header-row-log_or_sign::before {
  background: rgba(255, 255, 255, 0.9);
}
main {
  background-color: #3e3c3c;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
main::before {
  background-color: #d58920;
}
.modal-sign {
  color: #ffffff;
}
.modal-line {
  color: #ffffff;
}
.modal-login {
  color: #d58a20b4;
}
.modal-login:hover {
  color: #d58920;
}
.modal-social {
  margin-top: 15px;
}
.modal-social a div {
  color: #ffffff;
}
input[type="password"]:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  color: #434343;
}
input[type="submit"] {
  color: #ffffff;
  background: #d58a20b4;
}
input[type="submit"]:hover {
  background-color: #d58920;
}
.modal-user_data-checkbox a {
  color: #d58a20b4;
}
.modal-user_data-checkbox a:hover {
  color: #d58920;
}

.change-theme[data-theme="2"] {
  display: none;
}

.change-theme[data-theme="1"] {
  display: block;
}
